.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  position: relative;
  transition: transform 0.8s ease;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease; /* Add transition for sliding effect */
}

.carousel-slide {
  flex: 0 0 100%;
  height: 100vh;
  transition: transform 0.8s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #3572db;
  /* background: linear-gradient(300deg, #1f4890 0%, #3a84de 74%); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* background-clip: text;  */
  /* color: transparent; Standard property */
}

/* Fallback color for non-supporting browsers */
.carousel-slide::after {
  content: "Your fallback text";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #3572db; /* Fallback color */
  z-index: -1; /* Behind the text */
}


.slide-text {
  color: white; /* Color of the text */
  z-index: 2; /* Ensure text is above the image */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for better visibility */
  position: absolute; /* Position text absolutely */
  top: 50%; /* Place text at vertical center */
  left: 50%; /* Place text at horizontal center */
  transform: translate(-50%, -50%); /* Adjust to center text */
}

.carousel-slide img {
  width: 100%;
  height: 68%;
  opacity: 0.8;
  object-fit: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease; /* Add transition for button hover */
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
