.carousel-container {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    position: relative;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease; /* Add transition for sliding effect */
  }
  
  .carousel-slide {
    flex: 0 0 100%;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .prev-button {
    left: 0;
  }
  
  .next-button {
    right: 0;
  }
  